body > *  {
padding: 20px;
text-align: center;
font-weight: bold;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 200px auto auto 200px 50px;
    column-gap: 30px;
    row-gap: 20px;
}
.cabecalho{
    background-color: red;
    grid-column: 1 / 3;
}
.publicidade-topo{
    background-color: orange;
    grid-column: 1 / span 2;
}
.conteudo{
    background-color: gray;
    grid-row: 3 / span 2;
}
.lateral{
    background-color: darkgray;
}
.publicidade-lateral{
    background-color: gold;
}
.publicidade-final{
    background-color: darkorange;
    grid-column-start: 1;
    grid-column-end: 3;
}
.rodape{
    background-color: red;
    grid-column: 1 / 3 ;
}